<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PMS3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>controller.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttachmentServlet</display-name>
    <servlet-name>GetAttachmentServlet</servlet-name>
    <servlet-class>controller.GetAttachmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttachmentServlet</servlet-name>
    <url-pattern>/GetAttachmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertReportServlet</display-name>
    <servlet-name>InsertReportServlet</servlet-name>
    <servlet-class>controller.InsertReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertReportServlet</servlet-name>
    <url-pattern>/InsertReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulateddServlet</display-name>
    <servlet-name>PopulateddServlet</servlet-name>
    <servlet-class>controller.PopulateddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateddServlet</servlet-name>
    <url-pattern>/PopulateddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulateddServlet2</display-name>
    <servlet-name>PopulateddServlet2</servlet-name>
    <servlet-class>controller.PopulateddServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateddServlet2</servlet-name>
    <url-pattern>/PopulateddServlet2</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
        E:\data\
      </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UpdateReportServlet</display-name>
    <servlet-name>UpdateReportServlet</servlet-name>
    <servlet-class>controller.UpdateReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReportServlet</servlet-name>
    <url-pattern>/UpdateReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulateTableColumn</display-name>
    <servlet-name>PopulateTableColumn</servlet-name>
    <servlet-class>controller.PopulateTableColumn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateTableColumn</servlet-name>
    <url-pattern>/PopulateTableColumn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTableColumnServlet</display-name>
    <servlet-name>InsertTableColumnServlet</servlet-name>
    <servlet-class>controller.InsertTableColumnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTableColumnServlet</servlet-name>
    <url-pattern>/InsertTableColumnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTableColumn</display-name>
    <servlet-name>UpdateTableColumn</servlet-name>
    <servlet-class>controller.UpdateTableColumn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTableColumn</servlet-name>
    <url-pattern>/UpdateTableColumn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDescription</display-name>
    <servlet-name>AddDescription</servlet-name>
    <servlet-class>controller.AddDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDescription</servlet-name>
    <url-pattern>/AddDescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportCategoryServlet</display-name>
    <servlet-name>ReportCategoryServlet</servlet-name>
    <servlet-class>controller.ReportCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportCategoryServlet</servlet-name>
    <url-pattern>/ReportCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchServlet</display-name>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>controller.searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTaskServlet</display-name>
    <servlet-name>SearchTaskServlet</servlet-name>
    <servlet-class>controller.SearchTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTaskServlet</servlet-name>
    <url-pattern>/SearchTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEST</display-name>
    <servlet-name>SearchEST</servlet-name>
    <servlet-class>controller.SearchEST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEST</servlet-name>
    <url-pattern>/SearchEST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQCServlet</display-name>
    <servlet-name>InsertQCServlet</servlet-name>
    <servlet-class>controller.InsertQCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQCServlet</servlet-name>
    <url-pattern>/InsertQCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lovServlet</display-name>
    <servlet-name>lovServlet</servlet-name>
    <servlet-class>controller.lovServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lovServlet</servlet-name>
    <url-pattern>/lovServlet</url-pattern>
  </servlet-mapping>
</web-app>