body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white /*#3c97e8*/; /*blue*/
}

.topnav a {
  float: right;
  color: #3c97e8; /*blue*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
   font-weight:bold;
}
.topnav span {
  float: left;
  color:  #3c97e8; /*blue*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight:bold;
   position: relative;
}

.topnav a:hover {
  background-color:#3c97e8; /*blue*/
  color: white;
}

.topnav a.active {
  background-color: grey;
  color: white;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}
#footer
{
color: #3c97e8; 
font-weight:bold;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}